<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Example</title>
</head>
<body>
<form>
    <label for="text">Message</label>
    <textarea id="text"></textarea>
    <input onclick="sendText()" type="button" value="Send">
</form>

<script>
    const ws = new WebSocket(
        "ws://localhost:8080/events/",
    );

    ws.onopen = (event) => {
        ws.send("Here's some text that the server is urgently awaiting!");
    };

    ws.onmessage = (event) => {
        console.log(event.data);
    };

    function sendText() {
        // Construct a msg object containing the data the server needs to process the message from the chat client.
        const msg = {
            type: "message",
            text: document.getElementById("text").value,
            id: 'testing',
            date: Date.now(),
        };

        // Send the msg object as a JSON-formatted string.
        ws.send(JSON.stringify(msg));

        // Blank the text input element, ready to receive the next line of text from the user.
        document.getElementById("text").value = "";
    }
</script>
</body>
</html>